@reference "tailwindcss";

.footer {
  @apply w-full h-[180rem] bg-[#0D101D] px-[37rem];
  font-family: "Montserrat", sans-serif;

  @media screen and (width >= 640px) {
   @apply w-full h-[150rem] bg-[#0D101D] px-0;
  }

  @media screen and (width >= 1920px) {
    @apply w-full h-[150rem] bg-[#0D101D] px-0 ;
  }
}
.footer__inner {
  @apply w-full h-full flex flex-row-reverse justify-center items-center mt-[22rem];

  @media screen and (width >= 640px) {
    @apply  w-[1300rem] h-full flex flex-row-reverse mx-auto mt-0;
  }

  @media screen and (width >= 1920px) {
    @apply w-[1300rem] flex justify-between;
  }
}
.footer__inner_top {
  @apply w-auto h-auto flex justify-end items-center;
}
.footer__inner_top__links {
  @apply flex items-center gap-[6rem] relative z-0;

  @media screen and (width >= 640px) {
    @apply flex items-center gap-[10rem];
  }
}
.footer__inner_bottom {
  @apply w-full h-auto flex flex-col gap-[8rem];

  @media screen and (min-width: 641px) {
    @apply flex flex-col gap-[11rem];
  }

  @media screen and (width >= 1920px) {
    @apply gap-[10px];
  }
}
.footer__inner_bottom__text {
  @apply text-[10rem] text-[#9E9FA5] font-normal leading-[100%] w-full;

  @media screen and (min-width: 641px) {
   @apply text-[16rem] text-[#9E9FA5] font-medium leading-[100%] w-full text-left;
  }

  @media screen and (width >= 1920px) {
    @apply text-[16px] font-medium;
  }
}
.footer__inner_bottom__links {
   @apply text-[10rem] text-[#9E9FA5] font-normal leading-[100%] w-full flex gap-[22rem];

   @media screen and (min-width: 641px) {
   @apply text-[16rem] text-[#9E9FA5] font-medium leading-[100%] w-full flex justify-start gap-[36rem];
   
   @media screen and (width >= 1920px) {
    @apply text-[16px] gap-[20px] font-medium;
    letter-spacing: .6px;
  }
   }
}
.footer__social_i {
  @apply w-[30rem] h-[30rem] sm:w-[60rem] sm:h-[60rem] opacity-30;
  @media screen and (width >= 1920px) {
    @apply w-[60px] h-[60px];
  }
}
.footer__social {
  @apply w-[30rem] h-[30rem] sm:w-[60rem] sm:h-[60rem] opacity-30;
  @media screen and (width >= 1920px) {
    @apply w-[60px] h-[60px];
  }
}
.footer__social_span {
  @apply w-[30rem] h-[30rem] opacity-30 absolute top-0 left-0 z-0;
  @media screen and (width >= 640px) {
    @apply w-[60rem] h-[60rem] opacity-30 absolute top-0 left-0 ;
  }
  @media screen and (width >= 1920px) {
    @apply w-[60px] h-[60px];
  }
}