@reference "tailwindcss";

.header {
  @apply pt-[36rem] pl-[30rem] pr-[25rem];
  font-family: "Montserrat", sans-serif;

  @media screen and (min-width: 641px) {
    @apply w-full h-auto pt-[55rem] px-0 absolute top-0 left-0 z-[1];
  }
}

.container {
  @media screen and (width < 640px) {
    @apply w-full h-full;
  }
  
  @media screen and (width >= 641px) {
    @apply w-[1234rem] h-full mx-auto;
  }
}

.inner {
  @media screen and (max-width: 640px) {
    @apply w-full h-full flex items-center justify-between; 
  }

  @media screen and (min-width: 641px) {
    @apply w-full h-full flex items-center justify-end gap-[268rem];
  }
}

.logo {
 @apply w-[130rem] h-[26rem];

  @media screen and (min-width: 641px) {
    @apply w-[212rem] h-[44rem];
  }
}

.navigate {
  @apply flex justify-end items-center gap-[22rem];

  @media screen and (min-width: 641px) {
    @apply w-[242rem] flex justify-center gap-[12rem];
  }

}
