@reference "tailwindcss";

.header {
  @apply pt-[36rem] relative z-3;
  font-family: "Montserrat", sans-serif;

  @media screen and (min-width: 641px) {
    @apply w-full h-auto pt-[55rem] px-0 absolute top-0 left-0 z-[1];
  }

  @media screen and (width >= 1920px) {
    @apply pt-[55px];
  }
}

.container {
  @media screen and (width < 640px) {
    @apply w-full h-full px-[38rem];
  }
  
  @media screen and (width >= 641px) {
    @apply w-[1250rem] h-full mx-auto px-0;
  }

  @media screen and (width >= 1920px) {
    @apply w-[1218px];
  }
}

.inner {
  @media screen and (max-width: 640px) {
    @apply w-full h-full flex items-center justify-between; 
  }

  @media screen and (min-width: 641px) {
    @apply w-full h-full flex items-center justify-end gap-[268rem];
  }

  @media screen and (width >= 1920px) {
    @apply gap-[190px] pr-[50px];
  }
}

.logo {
 @apply w-[130rem] h-[26rem];

  @media screen and (min-width: 641px) {
    @apply w-[212rem] h-[44rem];
  }
}

.navigate {
  @apply flex justify-end items-center gap-[30rem];

  @media screen and (min-width: 641px) {
    @apply w-[242rem] flex justify-center gap-[15rem];
  }

  @media screen and (width >= 1920px) {
    @apply w-[240px] gap-[16px];
  }

}
