@reference "tailwindcss";

.hero__form_progress__wrapper {
  @apply w-full h-[18rem] bg-white rounded-full mt-[45rem] sm:mt-[57rem] mx-auto border-[1rem] border-[#494B54] relative overflow-hidden;

     background: linear-gradient(
        0deg,
        #16171E 0%,
        #353746 50%,
        #16171E 100%
      );

  .progressLine {
        @apply w-full h-[20rem] bg-[url('/shared/progress-inner.png')] bg-cover bg-left rounded-full absolute top-1/2 -translate-y-1/2 left-[9%] -translate-x-1/2;
        box-shadow: 0 0 20rem rgba(255, 255, 255, 0.1);
      }

  @media screen and (min-width: 641px) {
   @apply w-[526rem] h-[18rem] bg-white rounded-full mt-[54rem] mx-auto border-[1rem] border-[#494B54];

     background: linear-gradient(
        0deg,
        #16171E 0%,
        #353746 50%,
        #16171E 100%
      );

 
  }

  @media screen and (min-width: 1920px) {
   @apply w-[526px] h-[18px] bg-white rounded-full mt-[54px] mx-auto border-[1px] border-[#494B54];

     background: linear-gradient(
        0deg,
        #16171E 0%,
        #353746 50%,
        #16171E 100%
      );

 
  }
}