@reference "tailwindcss";

.terms {
  @apply bg-[#ffffff] w-full h-auto relative z-0 flex flex-col pb-[30rem];
  // font-family: "Inter", sans-serif;
}
.container {
  @apply w-full h-full mx-auto px-[20rem];

  @media screen and (min-width: 640px) {
    @apply w-[1100rem] px-0;
  }
}
.terms__content {
  @apply text-black w-full h-full;
}
.headLine__title {
  @apply text-[14rem] font-bold mb-[10rem];
  @media screen and (min-width: 640px) {
    @apply text-[26rem] ;
  }
  @media screen and (min-width: 1920px) {
    @apply text-[26px] mb-[10px];
  }
}
.title {
  @apply text-[14rem] font-bold mb-[10rem];
  
  @media screen and (min-width: 640px) {
    @apply text-[24rem];
  }
  @media screen and (min-width: 1920px) {
    @apply text-[24px];
  }
}
.description {
  @apply text-[12rem] font-medium leading-[120%] mb-[10rem];

  @media screen and (min-width: 640px) {
    @apply text-[20rem];
  }
  @media screen and (min-width: 1920px) {
    @apply text-[20px];
  }
}