@reference "tailwindcss";
.header {
    @apply w-full h-full;
  }
  .header__container {
    @apply w-full h-full mx-auto px-[20rem];
  
    @media screen and (width >= 640px) {
      @apply w-[1100rem] px-0;
    }
  
    @media screen and (width >= 1920px) {
      @apply w-[1200px];
    }
  }
  .header__content {
    @apply w-full h-auto flex justify-end items-center pt-[20rem] pb-[30rem];
    @media screen and (width >= 640px) {
      @apply pt-[30rem] pb-[40rem];
    }
    @media screen and (width >= 1920px) {
      @apply pt-[30px] pb-[40px];
    }
  }
  .header__logo {
    @apply relative z-0 w-[80rem] h-[80rem] hover:cursor-pointer;
  }
  .header__phone {
    @apply flex justify-center items-center w-[45rem] h-[45rem] border-[1rem] border-[#000000] text-[#0000000] font-medium text-[0rem] rounded-full relative z-0;
    box-shadow: 0rem 2rem 10rem 0 rgba(0,0,0,0.7);
  
    @media screen and (width >= 640px) {
      @apply w-[182rem] h-[45rem] text-[17rem] hover:cursor-pointer bg-[#D9D9D9]/20 border-0;
    }
  }