@reference "tailwindcss";

.title {
  @apply text-white/60 text-[54rem] font-medium uppercase leading-[120%] absolute top-[124rem] left-1/2 -translate-x-1/2 z-[1] ml-[12rem];
  letter-spacing: 34%;

  @media screen and (width > 640px) {
    @apply w-max text-center text-white/63 text-[103rem] font-medium uppercase leading-none z-[1] absolute top-[178rem] left-1/2 -translate-x-1/2 ml-[30rem];
    letter-spacing: 36.8rem;
  }

   @media screen and (width >= 1920px) {
    @apply w-max text-center text-white text-[91px] font-medium uppercase leading-none z-[1] ml-[20px] absolute top-[208px] left-1/2 -translate-x-1/2;
    letter-spacing: 34%;
  }
}