@reference "tailwindcss";

.footer {
  @apply w-full h-auto bg-[#0D101D] px-[35rem] py-[26rem] overflow-y-hidden;
  font-family: "Montserrat", sans-serif;

  @media screen and (min-width: 641px) {
   @apply w-full h-auto bg-[#0D101D] px-[35rem] pb-[42rem] pt-[52rem];
  }
}
.footer__inner {
  @apply w-full h-full flex flex-col gap-[30rem] relative;

  @media screen and (min-width: 641px) {
    @apply  w-[1198rem] h-full flex flex-col gap-[80rem] mx-auto;
  }
}
.footer__inner_top {
  @apply w-full h-full flex justify-between items-center;
}
.footer__inner_top__links {
  @apply flex items-center gap-[20rem];

  @media screen and (min-width: 641px) {
    @apply flex items-center gap-[30rem];
  }
}
.footer__inner_bottom {
  @apply w-full h-full flex flex-col gap-[10rem];

  @media screen and (min-width: 641px) {
    @apply w-full h-full flex flex-col gap-[11rem];
  }
}
.footer__inner_bottom__text {
  @apply text-[9rem] text-white font-normal leading-[100%] w-full text-center;

  @media screen and (min-width: 641px) {
   @apply text-[16rem] text-white font-normal leading-[100%] w-full text-left;
  }
}
.footer__inner_bottom__links {
   @apply text-[10rem] text-white font-normal leading-[100%] w-full flex justify-center gap-[22rem];

   @media screen and (min-width: 641px) {
   @apply text-[15rem] text-white font-normal leading-[100%] w-full flex justify-start gap-[60rem];
   letter-spacing: 0.8rem;
   }
}