@reference "tailwindcss";

.hero {
  font-family: "Montserrat", sans-serif;
overflow-x: hidden;
  .hero__dark__building_shadow {
        
         @apply  block absolute top-[584rem] left-0 z-[3] w-full h-[290rem];
          background: linear-gradient(180deg, #080b1a 16%, rgba(7, 11, 27, 0) 44%);

          @media screen and (min-width: 641px) {
           @apply  block absolute top-[904rem] left-0 z-[3] w-full h-[590rem];
           background: linear-gradient(180deg, #050714 16%, rgba(7, 11, 27, 0) 44%);
          }

          @media screen and (width >= 1920px) {
           @apply  block absolute top-[904px] left-0 z-[3] w-full h-[500px];
           background: linear-gradient(180deg,rgba(7, 11, 27, 1), rgba(7, 11, 27, 0.8), rgba(7, 11, 27, 0));
          }
  }

  @media screen and (max-width: 640px) {
     @apply w-full h-[2000rem] relative z-0;

      &::before {
        content: '';
        @apply w-full h-full bg-[url('/exfm/hero-light-bg-mobile.avif')] bg-cover bg-center bg-no-repeat absolute top-0 left-0 z-[1];

      //   animation: fadeIn 2s ease-in-out forwards;
      
      // @keyframes fadeIn {
      //   from {
      //     opacity: 0;
      //   }
      //   to {
      //     opacity: 1;
      //   }
      // }
      }

      &::after {
        content: '';
        @apply bg-[url('/mobile/hero/dark-building-mobile.avif')] bg-cover bg-center bg-no-repeat inline-flex absolute top-[237rem] left-0 z-[2] w-full h-[726rem];

      }

      
    }

  @media screen and (min-width: 641px) {
    @apply w-full h-[3580rem] relative z-0;

     &::before {
      content: '';
      @apply w-full h-full bg-[url('/exfm/hero-light-bg-desktop.avif')] bg-cover bg-center bg-no-repeat absolute top-[-40rem] left-0 z-[1];

      animation: fadeIn 2s ease-in-out forwards;
      
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      
    }

    &::after {
        content: '';
        @apply bg-[url('/desktop/dark-building-desktop.avif')] bg-cover bg-center bg-no-repeat absolute top-[292rem] object-cover left-0  z-[2] w-full h-[1200rem];
      }
   }

  @media screen and (width >= 1920px) {
    @apply w-[1920px] h-[3084px] relative z-0;

     &::before {
      content: '';
      @apply w-full h-full bg-[url('/exfm/hero-light-bg-large.avif')] bg-cover bg-bottom bg-no-repeat absolute top-[-40px] left-0 z-[1];
    }

    &::after {
        content: '';
        @apply bg-[url('/shared/dark-building-large.avif')] bg-contain bg-center bg-no-repeat absolute top-[267px] object-cover left-0  z-[2] w-full h-[640px];
      }
   }

}
.hero__text {
  @apply text-[26rem] text-center leading-[100%] w-full text-white font-semibold absolute top-[558rem] left-1/2 -translate-1/2 z-[3];

  .text__gradient {
    @apply inline-block font-extrabold;
     background: linear-gradient(
        45deg,
        rgba(228, 27, 246, 1) 60%,
        rgba(89, 40, 199, 1) 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
      }

  @media screen and (min-width: 641px) {
   @apply text-[52rem] text-center leading-[100%] w-full text-white font-bold absolute top-[730rem] left-1/2 -translate-1/2 z-[3];
  }

  @media screen and (width >= 1920px) {
    @apply text-[52px] text-center leading-[120%] w-full text-white font-bold absolute top-[740px] left-1/2 -translate-1/2 z-[3];
  }
}
.description { 
  @apply text-[16rem] text-center leading-[120%] w-full text-white font-normal absolute top-[583rem] left-0 z-[3];

   background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  @media screen and (min-width: 641px) {
  @apply text-[36rem] text-center leading-[120%] w-full text-white font-normal absolute top-[770rem] left-0 ml-[-16rem] z-[3];
  }

  @media screen and (width >= 1920px) {
   @apply text-[36px] text-center leading-[120%] w-full text-white font-normal absolute top-[782px] left-0 z-[3];
  }
}
.button__detail {
  @apply text-white text-[22.5rem] font-semibold tracking-[0.4rem] leading-[100%] w-[357rem] h-[50rem] border-[0.54rem] border-white rounded-full flex items-center justify-center absolute top-[620rem] left-1/2 -translate-x-1/2 z-[4] mx-auto mt-[21rem] capitalize;
 
  background: linear-gradient(
    0deg,
    #060915 40%,
    #50525B 100%,
    #FFF 100%,
  );

&::before {
    @apply rounded-full;
    content: '';
    position: absolute;
    inset: -4rem;
    padding: 5rem;
    background: conic-gradient(
      from var(--angle),
      transparent 70%,
      #fff 150%,
    );
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    animation: rotate 3s linear infinite ;

    pointer-events: none;

    @keyframes rotate {
    
    to {
      --angle: 360deg;
    }
  }
}

@media screen and (min-width: 641px) {
  @apply text-white text-[30rem] leading-[100%] w-[423rem] h-[76rem] border-[0.54rem] border-white rounded-full flex items-center justify-center absolute z-[4] top-[880rem] left-1/2 -translate-x-1/2 hover:cursor-pointer tracking-normal;
  font-family: "Montserrat", sans-serif;
  
}

@media screen and (width >= 1920px) {
  @apply text-white text-[30px] font-semibold leading-[100%] w-[435px] h-[76px] border-[1px] border-white rounded-full flex items-center justify-center absolute z-[4] top-[894px] left-1/2 -translate-x-1/2 hover:cursor-pointer tracking-normal mt-0;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    0deg,
    #060915 40%,
    #50525B 100%,
    #FFF 100%,
  );
}

}
.button__detail__sparkle {
  @apply w-[8rem] h-[8rem] rounded-full absolute top-[58rem] left-[-13rem] -translate-x-1/2;

  background: content-box radial-gradient(
        circle at center,
        #ffffff 0%,
        #fff5ec 5%,
        #FFCDA2 10%,
        #F5B780 15%,
        #C79468 17%,
        #9C7451 22%,
        transparent 50%
      );
      background-blend-mode: screen;

      @media screen and (min-width: 641px) {
        @apply w-[13rem] h-[13rem] rounded-full absolute top-[17rem] left-[-64rem];
      }

      @media screen and (width >= 1920px) {
        @apply w-[13px] h-[13px] rounded-full absolute top-[17px] left-[-64px];
      }
}
.button__detail__sparkle_2 {
  @apply w-[12rem] h-[12rem] rounded-full absolute top-[-65rem] left-[6rem] -translate-x-1/2;

  background: content-box radial-gradient(
        circle at center,
        #ffffff 0%,
        #fff5ec 5%,
        #FFCDA2 10%,
        #F5B780 15%,
        #C79468 17%,
        #9C7451 22%,
        transparent 50%
      );
      
      background-blend-mode: screen;

      @media screen and (min-width: 641px) {
         @apply w-[18rem] h-[18rem] rounded-full absolute top-[-10rem] left-[58rem];
      }

      @media screen and (width >= 1920px) {
         @apply w-[18px] h-[18px] rounded-full absolute top-[-10px] left-[24px];
      }
}
.button__detail__sparkle_3 {
  @apply w-[12rem] h-[12rem] rounded-full absolute bottom-[-30rem] right-[28rem] -translate-x-1/2;

  background: content-box radial-gradient(
        circle at center,
        #ffffff 0%,
        #fff5ec 5%,
        #FFCDA2 10%,
        #F5B780 15%,
        #C79468 17%,
        #9C7451 22%,
        transparent 50%
      );
      
      background-blend-mode: screen;

      @media screen and (min-width: 641px) {  
        @apply w-[20rem] h-[20rem] rounded-full absolute bottom-[10rem] right-[-6rem];
      }

      @media screen and (width >= 1920px) {
        @apply w-[25px] h-[25px] rounded-full absolute bottom-[2px] right-[-56px];
      }
}
.button__detail__sparkle_4 {
  @apply w-[10rem] h-[10rem] rounded-full absolute bottom-[-6rem] left-1/2 -translate-x-1/2 z-[1];

  background: content-box radial-gradient(
        circle at center,
        #ffffff 10%,
        #fff5ec 13%,
        #FFCDA2 17%,
        transparent 60%
      );
      
      background-blend-mode: screen;

      @media screen and (min-width: 641px) {
       @apply w-[10rem] h-[10rem] rounded-full absolute bottom-[-5rem] left-1/2 -translate-x-1/2 z-[1];

       background: content-box radial-gradient(
        circle at center,
        #ffffff 10%,
        #fff5ec 15%,
        #FFCDA2 25%,
        transparent 100%
      );
      }

      @media screen and (width >= 1920px) {
        @apply w-[10px] h-[10px] rounded-full absolute bottom-[-5px] left-1/2 -translate-x-1/2 z-[1];
      }
}
.button__detail__sparkle_5 {
  @apply w-[10rem] h-[10rem] rounded-full absolute top-[-51rem] right-[76rem] -translate-x-1/2;

  background: content-box radial-gradient(
        circle at center,
        #ffffff 0%,
        #fff5ec 5%,
        #FFCDA2 10%,
        #F5B780 15%,
        #C79468 17%,
        #9C7451 22%,
        transparent 35%
      );
      // box-shadow: 0 0rem 60rem rgba(0, 0, 0, 0.1);
      background-blend-mode: screen;

      @media screen and (min-width: 641px) {
       @apply w-[14rem] h-[14rem] rounded-full absolute top-[-90rem] right-[-21rem] -translate-x-1/2;
      }

      @media screen and (width >= 1920px) {
        @apply w-[14px] h-[14px] rounded-full absolute top-[-90px] right-[-21px] -translate-x-1/2;
      }
}
.button__detail__sparkle_6 {
  @apply w-[15rem] h-[15rem] rounded-full absolute bottom-[-53rem] left-[113rem] -translate-x-1/2;

  background: content-box radial-gradient(
        circle at center,
        #ffffff 0%,
        #fff5ec 5%,
        #FFCDA2 10%,
        #F5B780 15%,
        #C79468 17%,
        #9C7451 22%,
        transparent 35%
      );
      // box-shadow: 0 0rem 60rem rgba(0, 0, 0, 0.1);
      background-blend-mode: screen;

      @media screen and (min-width: 641px) {
       @apply w-0 h-0;
      }
}
.location__title_text {
  @apply text-[32rem] font-semibold text-white text-center leading-[110%] w-full absolute top-[943rem] left-1/2 -translate-x-1/2 z-[3];

  @media screen and (min-width: 641px) {
     @apply text-[72rem] font-semibold text-white text-center leading-[71rem] w-full absolute top-[1423rem] left-1/2 -translate-x-1/2 z-[3] ml-[-10rem];
     letter-spacing: .4%;
  }

  @media screen and (width >= 1920px) {
     @apply text-[72px] font-semibold text-white text-center leading-[100%] w-full absolute top-[1264px] left-1/2 -translate-x-1/2 z-[3] ml-0;
     letter-spacing: .4%;
  }
}
.location__description_text {
  @apply text-[16rem] font-normal text-white text-center leading-[110%] w-full absolute top-[1054rem] left-1/2 -translate-x-1/2 z-[3];

  @media screen and (min-width: 641px) {
    @apply text-[36rem] font-normal text-white text-center leading-none w-full absolute top-[1588rem] left-1/2 -translate-x-1/2 z-[3] ml-[2rem];
  }

  @media screen and (width >= 1920px) {
    @apply text-[36px] font-normal text-white text-center leading-none w-full absolute top-[1426px] left-1/2 -translate-x-1/2 z-[3] ml-0;
  }
}
.location__title_text__bottom {
  @apply text-[32rem] font-semibold text-white text-center leading-[110%] w-full absolute bottom-[502rem] left-1/2 -translate-x-1/2 z-[3];

  @media screen and (min-width: 641px) {
   @apply text-[72rem] font-semibold text-white text-center leading-[100%] w-full absolute bottom-[1292rem] left-1/2 -translate-x-1/2 z-[3];
  }

  @media screen and (width >= 1920px) {
   @apply text-[72px] font-semibold text-white text-center leading-[100%] w-full absolute bottom-[1068px] left-1/2 -translate-x-1/2 z-[3];
  }
}
.location__description_text__bottom {
  @apply text-[16rem] font-normal text-white text-center leading-[110%] w-full absolute bottom-[444rem] left-1/2 -translate-x-1/2 z-[3];

  @media screen and (min-width: 641px) {
    @apply text-[30rem] font-normal text-white text-center leading-[100%] w-full absolute bottom-[1190rem] left-1/2 -translate-x-1/2 z-[3];
  }

  @media screen and (width >= 1920px) {
    @apply text-[30px] font-normal text-white text-center leading-[100%] w-full absolute bottom-[960px] left-1/2 -translate-x-1/2 z-[3];
  }
}