@reference "tailwindcss";

.header {
  @apply pt-[40rem] px-[40rem];
  font-family: "Montserrat", sans-serif;

  @media screen and (min-width: 641px) {
    @apply w-full h-auto pt-[70rem] px-0 absolute top-0 left-0 z-[1];
  }
}

.container {
  @media screen and (max-width: 640px) {
    @apply w-full h-full;
  }
  
  @media screen and (min-width: 641px) {
    @apply w-[1370rem] h-full mx-auto;
  }
}

.inner {
  @media screen and (max-width: 640px) {
    @apply w-full h-full flex items-center justify-between; 
  }

  @media screen and (min-width: 641px) {
    @apply w-full h-full flex items-center justify-end gap-[268rem];
  }
}

.logo {
 @apply w-[130rem] h-[26rem];

  @media screen and (min-width: 641px) {
    @apply w-0 h-0;
  }
}

.navigate {
  @apply flex items-center gap-[6rem];

  @media screen and (min-width: 641px) {
    @apply w-[418rem] flex justify-center gap-[22rem];
  }

  .lang__select {
    @apply text-[10rem] text-white font-semibold uppercase w-[30rem] h-[26rem] border-[0.35rem] border-white rounded-[13rem] flex items-center justify-center relative z-[1] cursor-pointer;

    @media screen and (min-width: 641px) {
     @apply text-[26rem] text-white font-normal uppercase w-[84rem] h-[74rem] border-[0.35rem] border-white rounded-full flex items-center justify-center;

     

     &_active {
      @apply text-[18rem] text-white font-semibold uppercase w-[50rem] h-[40rem] border-0 flex items-center justify-center;
     }
    }

    .lang__select_list {
      @apply w-full h-[130rem] bg-transparent flex flex-col items-center justify-center gap-[10rem] mt-[-10rem] absolute top-[10rem] left-0 z-[1] border-[0.56rem] border-white rounded-full;

  }

  }

  .phone__link {
    @apply text-[10rem] text-white font-normal uppercase w-[112rem] h-[26rem] border-[0.35rem] border-white rounded-[13rem] flex items-center justify-center;

    @media screen and (min-width: 641px) {
     @apply text-[28rem] text-white font-normal uppercase w-[314rem] h-[70rem] border-[0.6rem] border-white rounded-full flex items-center justify-center;
    }
    
  }
}