@reference "tailwindcss";


@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.button {
  font-family: "Montserrat", sans-serif;
  
  @apply w-full h-[52rem] sm:w-[318rem] sm:h-[50rem] text-[21rem] text-white bg-[#FF7100] font-bold leading-[100%] rounded-full border-[1rem] flex items-center justify-center mx-auto relative mt-[12rem] sm:mt-[22rem] cursor-pointer relative z-2 hover:scale-105 transition-all duration-200 disabled:cursor-default disabled:hover:scale-100;

  @media screen and (width >= 1920px) {
    @apply w-full h-[52px] sm:w-[318px] sm:h-[50px] text-[21px] text-white bg-[#FF7100] font-bold leading-[100%] rounded-full border-[1px] flex items-center justify-center mx-auto relative mt-[12px] sm:mt-[22px] cursor-pointer relative z-2;
  }
  
  &::before {
    @apply rounded-full;
    content: '';
    position: absolute;
    inset: -4rem;
    padding: 5rem;
    background: conic-gradient(
      from var(--angle),
      transparent 70%,
      #fff 150%,
    );
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    animation: rotate 3s linear infinite ;

    pointer-events: none;

    @keyframes rotate {
    
    to {
      --angle: 360deg;
    }
  }
}
}






