@reference "tailwindcss";

.facilities {
  @apply w-full h-full relative mt-[-70rem] z-2;
  font-family: "Montserrat", sans-serif;

  @media screen and (width > 640px) {
    @apply mt-[-110rem];
  }
  @media screen and (width >= 1920px) {
    @apply w-full h-auto mt-[24px];
  }

  &::before {
    content: '';
    @apply inline-block w-full h-[1980rem] bg-[url('/mobile/facilities/facilities-light-bg.avif')] bg-cover bg-center bg-no-repeat absolute top-[45rem] left-0 z-[1];

    @media screen and (width > 640px) {
     @apply inline-block w-full h-[560rem] bg-[url('/desktop/facilities-light-separator.avif')] bg-cover bg-center bg-no-repeat absolute top-[-410rem] left-0 z-[1];
    }

    @media screen and (width >= 1920px) {
     @apply inline-block w-[1920px] h-[760px] bg-[url('/desktop/facilities-light-separator.avif')] bg-cover bg-center bg-no-repeat absolute top-[200px] left-1/2 -translate-x-1/2 z-[1] mt-[-470px];
    }
  }
}
.facilities__title {
  @apply text-[32rem] font-semibold text-white text-center leading-[110%] w-full relative top-[14rem] left-1/2 -translate-x-1/2 z-[1];

  @media screen and (min-width: 641px) {
    @apply text-[74rem] font-semibold text-white text-center leading-[100%] w-full relative top-[-369rem] left-1/2 -translate-x-1/2 z-[1] ml-[10rem] tracking-[-1rem];
  }

  @media screen and (width >= 1920px) {
    @apply text-[67px] font-semibold text-white text-center leading-[100%] w-full absolute top-[-184px] left-1/2 -translate-x-1/2 z-[1] ml-0 tracking-[-1rem] leading-[105%];
  }
}
.facilities__inner {
  @apply w-full h-full flex flex-col items-center justify-center gap-[20rem] px-[38rem] pt-0 mt-[44rem];

    @media screen and (width > 640px) {
    @apply w-[1198rem] h-full flex flex-row items-center justify-center gap-[18rem] px-0 mx-auto mt-[-286rem];
    }

    @media screen and (width >= 1920px) {
      @apply w-[1198px] h-full gap-[18px] px-0 mx-auto mt-[-162px];
    }
}
.facilities__item {
  @apply w-full h-[438rem] bg-[url('/shared/facilities-item-1.avif')] bg-cover bg-center bg-no-repeat flex items-center justify-center relative z-[1];

  @media screen and (width > 640px) {  
    @apply w-full h-[368rem] bg-[url('/shared/facilities-item-1.avif')] bg-cover bg-center bg-no-repeat flex items-center justify-center relative z-[1];
      &:nth-child(1) {
        @apply order-1
    } 
  }

   @media screen and (width >= 1920px) {  
    @apply w-full h-[366px];
  }

  span {
    @apply text-[22rem] font-medium text-white leading-[120%] w-full absolute top-[20rem] left-[30rem] z-[2];

    @media screen and (min-width: 641px) {
     @apply text-[22rem] font-medium text-white leading-[24rem] w-full absolute top-[18rem] left-[26rem] z-[2];
    }

    @media screen and (width >= 1920px) {
     @apply text-[22px] font-medium text-white leading-[24px] w-full absolute top-[18px] left-[26px] z-[2];
    }
  }
}
.facilities__item_2 {
  @apply w-full h-[440rem] bg-[url('/shared/facilities-item-3.avif')] bg-cover bg-center bg-no-repeat flex items-center justify-center relative z-[1];

  @media screen and (min-width: 641px) {  
    @apply w-full h-[368rem] bg-[url('/shared/facilities-item-3.avif')] bg-cover bg-center bg-no-repeat flex items-center justify-center relative z-[1];

    &:nth-child(2) {
      @apply order-3
  } 
}

  @media screen and (width >= 1920px) {  
    @apply w-full h-[366px];
  }

  span {
    @apply text-[22rem] font-medium text-white leading-[120%] w-full absolute top-[20rem] left-[30rem] z-[2];

    @media screen and (min-width: 641px) {
     @apply text-[22rem] font-medium text-white leading-[24rem] w-full absolute top-[18rem] left-[26rem] z-[2];
    }

    @media screen and (width >= 1920px) {
     @apply text-[22px] font-medium text-white leading-[24px] w-full absolute top-[18px] left-[26px] z-[2];
    }
  }
}
.facilities__item_3 {
  @apply w-full h-[440rem] bg-[url('/shared/facilities-item-2.avif')] bg-cover bg-center bg-no-repeat flex items-center justify-center relative z-[1];

  @media screen and (min-width: 641px) {  
    @apply w-full h-[368rem] bg-[url('/shared/facilities-item-2.avif')] bg-cover bg-center bg-no-repeat flex items-center justify-center relative z-[1];

    &:nth-child(3) {
      @apply order-2;
  } 
  }

  @media screen and (width >= 1920px) {  
    @apply w-full h-[366px];
  }

  span {
    @apply text-[22rem] font-medium text-white leading-[120%] w-full absolute top-[20rem] left-[30rem] z-[2];

    @media screen and (min-width: 641px) {
     @apply text-[22rem] font-medium text-white leading-[24rem] w-full absolute top-[18rem] left-[26rem] z-[2];
    }

    @media screen and (width >= 1920px) {
     @apply text-[22px] font-medium text-white leading-[24px] w-full absolute top-[18px] left-[26px] z-[2];
    }
  }
}
.facilities__item_4 {
  @apply w-full h-[440rem] bg-[url('/shared/facilities-item-4.avif')] bg-cover bg-center bg-no-repeat flex items-center justify-center relative z-[1];

  @media screen and (min-width: 641px) {  
    @apply w-full h-[368rem] bg-[url('/shared/facilities-item-4.avif')] bg-cover bg-center bg-no-repeat flex items-center justify-center relative z-[1];

    &:nth-child(4) {
      @apply order-4;
  } 
  }

  @media screen and (width >= 1920px) {  
    @apply w-full h-[366px];
  }

  span {
    @apply text-[22rem] font-medium text-white leading-[120%] w-full absolute top-[20rem] left-[30rem] z-[2];

    @media screen and (min-width: 641px) {
     @apply text-[22rem] font-medium text-white leading-[24rem] w-full absolute top-[18rem] left-[26rem] z-[2];
    }

    @media screen and (width >= 1920px) {
     @apply text-[22px] font-medium text-white leading-[24px] w-full absolute top-[18px] left-[26px] z-[2];
    }
  }
}