@reference "tailwindcss";

.letter {
  @apply w-full h-[676rem] relative mt-[-214rem] mb-[120rem] z-[-1];
  font-family: "Montserrat", sans-serif;

  @media screen and (width >= 640px) {
    @apply w-[1440rem] h-[1000rem] relative mt-[-60rem] mb-[115rem];
  }

  @media screen and (width >= 1920px) {
    @apply w-[700px] h-[800px] relative mt-[254px] mb-[-96px] z-3;
  }
  &::before {
    content: "";
    @apply inline-block w-[330rem] h-[330rem] absolute top-[70%] left-1/2 -translate-1/2 z-2 bg-cover bg-no-repeat rounded-full ; 
    background: radial-gradient(circle,rgb(255, 211, 154) 0%, rgba(218, 119, 11, 0.6) 40%, rgba(150, 40, 5, 0) 100%);
    filter: blur(50px);
    @media screen and (width >= 640px) {
    @apply w-[780rem] h-[700rem] top-[53%]; 
    }
    @media screen and (width >= 1920px) {
    @apply w-[700px] h-[650px] top-[160px]; 
    }
  }
  .letter__body {
    @apply w-[430rem] h-full bg-[url('/letter/body-letter-mobile.avif')] bg-cover bg-center bg-no-repeat absolute top-0 left-1/2 -translate-x-1/2 z-1;

    @media screen and (width >= 640px) {
      @apply w-full h-full bg-[url('/letter/body-letter.avif')] top-[-132rem];
    }

    @media screen and (width >= 1920px) {
      @apply w-[1300px] absolute top-0 left-1/2 -translate-1/2;
    }
  }
.letter__front {
    @apply w-[354rem] h-[210rem] bg-[url('/letter/up-letter.png')] bg-cover bg-center bg-no-repeat absolute top-[468rem] left-1/2 -translate-x-1/2 z-4;

    @media screen and (width >= 640px) {
      @apply w-[824rem] h-[490rem] bg-[url('/letter/up-letter.png')] top-[530rem] ml-[8rem];
    }

    @media screen and (width >= 1920px) {
      @apply w-[744px] h-[446px] top-[144px] ml-[8px];
    }
}
}
.letter__inner {
  @apply w-[315rem] h-[260rem] bg-[#962805]/45 absolute bottom-[64rem] left-1/2 -translate-x-1/2 z-2;

  @media screen and (width >= 640px) {
      @apply w-[600rem] h-[600rem] absolute bottom-[48em] left-1/2 -translate-x-1/2 z-3;
    }

    @media screen and (width >= 1920px) {
      @apply w-[520px] h-[540px] bottom-[268px];
    }
}
.letter__title {
  @apply text-[22rem] text-white font-semibold leading-[110%] absolute top-[67rem] left-0 text-center w-full z-[1];

    @media screen and (width >= 640px) {
      @apply text-[40rem] text-white font-semibold leading-[110%] absolute top-[138rem] left-0 text-center w-full z-[1];
    }

    @media screen and (width >= 1920px) {  
      @apply text-[36px] font-semibold absolute top-[104px] left-0 text-center w-full z-[1];
    }
}
.letter__description {
  @apply text-[14rem] text-white font-normal leading-[112%] absolute top-[121rem] left-0 text-center w-full z-[1];

  @media screen and (width >= 640px) {
    @apply text-[20rem] text-white font-normal absolute top-[234rem] left-0 text-center w-full z-[1];
  }

  @media screen and (width >= 1920px) {  
    @apply text-[20px] font-normal leading-[110%] absolute top-[194px] left-0 text-center w-full z-[1];
  }
}
.letter__button_access {
  @apply text-white text-[14rem] font-medium leading-[100%] w-[360rem] h-[50rem] border-[0.54rem] border-white rounded-full flex items-center justify-center absolute z-[4] top-[710rem] left-1/2 -translate-x-1/2;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3%;
  background: linear-gradient(
    0deg,
    #060915 40%,
    #50525B 100%,
    #FFF 100%,
  );

  &::before {
    @apply rounded-full;
    content: '';
    position: absolute;
    inset: -4rem;
    padding: 5rem;
    background: conic-gradient(
      from var(--angle),
      transparent 70%,
      #fff 150%,
    );
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    animation: rotate 3s linear infinite ;

    pointer-events: none;

    @keyframes rotate {
    
    to {
      --angle: 360deg;
    }
  }
}

  @media screen and (width >= 640px) {
  @apply text-white text-[30rem] leading-[100%] w-[732rem] h-[76rem] border-[1rem] border-white rounded-full flex items-center justify-center absolute z-5 top-[868rem] left-1/2 -translate-x-1/2 hover:cursor-pointer;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0%;
    background: linear-gradient(
      0deg,
      #060915 40%,
      #50525B 100%,
      #FFF 100%,
    );

  }

  @media screen and (width >= 1920px) {
    @apply text-[30px] leading-[100%] w-[700px] h-[74px] border-[1px] border-white rounded-full flex items-center justify-center absolute top-[454px] left-1/2 -translate-x-1/2 hover:cursor-pointer ml-[8px];
  }

  .button__detail_sparkle_left {
  @apply w-0 h-0;

      @media screen and (min-width: 641px) {
        @apply w-[13rem] h-[13rem] rounded-full absolute top-[-47rem] left-[60rem] -translate-x-1/2;

        background: content-box radial-gradient(
        circle at center,
        #ffffff 0%,
        #fff5ec 5%,
        #FFCDA2 10%,
        #F5B780 15%,
        #C79468 17%,
        #9C7451 22%,
        transparent 50%
      );
      background-blend-mode: screen;
      }

      @media screen and (width >= 1920px) {
        @apply w-[13px] h-[13px] rounded-full absolute top-[-47px] left-[60px] -translate-x-1/2;
      }
  }

  .button__detail_sparkle_right {
  @apply w-0 h-0;

  

      @media screen and (min-width: 641px) {
        @apply w-[16rem] h-[16rem] rounded-full absolute bottom-[-30rem] right-[10rem] -translate-x-1/2;

        background: content-box radial-gradient(
        circle at center,
        #ffffff 0%,
        #fff5ec 5%,
        #FFCDA2 10%,
        #F5B780 15%,
        #C79468 17%,
        #9C7451 22%,
        transparent 50%
      );
      background-blend-mode: screen;
      }

      @media screen and (width >= 1920px) {
        @apply w-[16px] h-[16px] rounded-full absolute bottom-[-30px] right-[10px] -translate-x-1/2;
      }
  }

}
.span__break_large {
  @apply hidden;

  @media screen and (width >= 1920px) {
    @apply block;
  }
}
.span__break2_large {
  @apply block;

  @media screen and (width >= 1920px) {
    @apply hidden;
  }
}
.span__break3_large {
  @apply hidden;

  @media screen and (width >= 1920px) {
    @apply block;
  }
}
